body {
  display: block;
  margin: 0px;
 
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  display: block;
}
body,
#root {
  height: 100%;
  width: 100%;
}

.navbar {
  align-items: center;
  background-color: #5b946e;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  font: 30px Times;
  font-size: 30px;
  unicode-bidi: isolate;
}

.cohort-students {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: space-between;
  padding: 32px;
  unicode-bidi: isolate;
}

.cohort-list {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-right: 50px;
  font-weight: 700;
  display: block;
  unicode-bidi: isolate;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  font: 16px Times;
  margin: 21.28px 0px;
  padding: 0px 0px 8px;
}

.cohort-list h4 {
  border-bottom: 1px solid green;
  padding-bottom: 8px;
}

h3 {
  display: block;
  font-size: 18.72px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

h4 {
  display: block;
  margin-block-start: 21.28px;
  margin-block-end: 21.28px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.student-list {
  display: block;
  unicode-bidi: isolate;
}

.student-list h1 {
  font-size: 32px;
  /* margin: 10.72px; */
  margin-top: 10.72px;
  margin-right: 0px;
  margin-bottom: 10.72px;
  margin-left: 0px;

}

h1 {
  display: block;
  margin-block-start: 10.72px;
  margin-block-end: 10.72px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.card {
  border: 1px solid green;
  display: flex;
  row-gap: 16px;
  column-gap: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
  border-radius: 50%; /* Make the image round */
  border: none;
  width: 100px;
  height: 100px;
}


p {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isoilate;
}

.show-more-button {
  background-color: transparent;
  color: green;
  border: none;
  padding: 0;
  margin-top: 8px;
  cursor: pointer;
}

.show-more-button:hover {
  text-decoration: underline;
}

.horizontal-details {
  display: flex;
  flex-wrap: wrap; /* Allow the components to wrap to the next line if needed */
}

.horizontal-details > * {
  flex: 1; /* Each component takes equal space */
  margin-right: 10px; /* Adjust the margin between components */
}