body {
  font-family: sans-serif;
  margin : 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.navbar-wrapper {
  background-color: hsl(140, 23%, 47%);
  height: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 15px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 40px;
}

.cohorts {
  text-emphasis-color: hsl(145, 55%, 71%);
}